@media(max-width: 1050px) {
    .hero-title h1 {
        font-size: 55px;
    }
}

@media(max-width: 930px) {
    .nav-menus {
        display: none;
    }

    .header-right i {
        display: block;
        opacity: 1;
    }
    .frame-content .frame-title h1{
        width: 100%;
        font-size: 50px;
        line-height: 60px;
    }
    .footer-title h4{
        margin-top: 35px;
    }
}


@media(max-width: 765px) {
    .company h4{
        margin-top: 0;
    }
}
@media(max-width: 580px) {
    .hero-title h1 {
        font-size: 40px;
    }

    .hero-right img,
    .unlock-left img {
        width: 100%;
    }

    .customer-img img {
        width: 100%;
    }

    .custo-para p {
        text-align: justify;
    }

    .community-para p {
        width: 100%;
        text-align: justify;
    }
    .community-section .row{
        padding: 0;
        margin: 0;
    }
    .footer-section{
        padding-right: 15px;
    }
    .company{
        margin-top: 30px;
    }
}


@media(max-width: 475px) {
    .header-btns {
        display: none;
    }

    .hero-title h1 {
        font-size: 30px;
    }

    .ct-bottom-title h2 {
        font-size: 30px;
    }

    .box-content {
        width: 100%;
    }

    .un-title h2 {
        font-size: 25px;
    }

    .custo-icons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .custo-icons img {
        margin-bottom: 15px;
    }
    .frame-content .frame-title h1{ 
        font-size: 30px; 
        line-height: 35px;
    }
}


@media(max-width: 375px) {
    .un-title h2 {
        text-align: center;
    }
}