@media(max-width: 930px){
    .nav-menus{
        display:none;
    }
    .header-right i{
        display: block;
        opacity: 1;
    }
}

@media(max-width: 475px){
    .header-btns{
        display: none;
    }
}