/*
AUTHOR NAME    : ANIK ISLAM
TEMPLETE NAME  : NEXCENT
VERSION        : 1.0.0
*/

/* ---------------------------------- */
/* ESSENTIAL SETUP  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* ROOT VARIABLES  */
:root {
    --global-font: "Inter", sans-serif;
    ;
    --white-color: #fff;
    --black-color: #000;
    --green-color: #4CAF4F;
    --achivement-bg: #f5f7fa;
    --community-box-bg: #f5f7fa;
    --community-box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
    --footer-bg: #263238;
    --footer-light-gray: #515b60;

}

body {
    font-family: var(--global-font);
}

/* FONSTS SET UP  */
h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1245px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-padding {
    padding: 70px 0;
}
.mb-right{
    margin-right: 15px;
}
.mb{
    margin-bottom: 40px;
}
/* ESSENTIAL SETUP  */
/* ====================================== */

/*HEADER SECTION START  */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-menus {
    display: flex;
}

.nav-menus li {
    list-style: none;
}

.nav-menus li a {
    text-decoration: none;
    color: var(--black-color);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
}

.nav-menus li a:hover {
    color: var(--green-color);
    transition: all 0.3s ease-in-out;
}

.header-btns {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.header-btns .log {
    color: var(--green-color);
    font-size: 20px;
    font-weight: 500;
}

.header-btns .sign {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    background: var(--green-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-right i {
    background: var(--green-color);
    color: var(--white-color);
    font-size: 22px;
    padding: 15px 20px;
    border-radius: 5px;
    display: none;
    opacity: 0;
}

/*HEADER SECTION END */


/*HERO  SECTION START  */
.hero-section {
    padding: 70px 0;
}

.hero-title h1 {
    font-weight: 600;
}

.hero-title .green {
    color: var(--green-color);
}

.hero-para p {
    font-size: 16px;
    padding: 15px 0 30px 0;
}

.hero-btn a {
    color: var(--white-color);
    background-color: var(--green-color);
    padding: 15PX 30PX;
    border-radius: 5px;
    font-weight: 500;
}

/*HERO  SECTION END */

/*CLIENTS SECTION START  */
 
/*CLIENTS SECTION END */

/*CLIENT BOTTOM SECTION START  */
.ct-bottom{
    padding: 0 30px;
    overflow: hidden;
}
.box-content {
    margin-top: 15px; 
}

.box-title h3 {
    margin: 15px 0 10px 0;
}
 
.box-content {
    margin-top: 50px;
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
}
.shadow{ 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ct-bottom-para {
    margin-bottom: 50px;
}
/*CLIENT BOTTOM SECTION END */

/*UNLOCK SECTION START  */
.unlock-section {
    overflow: hidden;
}
.un-para P{
    margin: 15px 0 30px 0;
    font-size: 16px;
    text-align: justify;
}


/*UNLOCK SECTION END */

/*ACHIVEMENT SECTION START  */
.achivement-section{
    overflow: hidden;
    background-color: var(--achivement-bg);
}
.achiv-title h2{
    font-weight: 700;
    margin-bottom: 10px;
}
.achiv-title h2 span{
    color: var(--green-color);
}
.achiv-para p{
    font-size: 16px;
}
.achivement{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}
/*ACHIVEMENT SECTION END */

/*CUSTOMER SECTION START  */
.custo-name H4{
    padding: 15px 0 8px 0;
    color: var(--green-color);
    font-weight: 600;
}
.custo-icons {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
}
/*CUSTOMER SECTION END */


/*COMMUNITY SECTION START  */
.community-title h2 { 
    margin-bottom: 15px;
}
.community-para p { 
    width: 628px;
    margin: 0 auto;
}
.community-content{
    margin-top: 50px;
    background-color: var(--community-box-bg);
    padding: 25px;
    text-align: center;
    box-shadow: var(--community-box-shadow);
    border-radius: 15px;
}
.community-content .box-text p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.box-btn a {
     color: var(--green-color);
     font-size: 20px;
     font-weight: 700;
}
.box-btn a i{
    margin-left: 5px;
}
.box-btn:hover i{
    padding-left: 8px;
}
/*COMMUNITY SECTION END */


/*FRAME SECTION START  */
.frame-section{
    background-color: var(--achivement-bg);
    overflow: hidden;
}
.frame-content .frame-title h1{
    margin: 0 auto;
    font-weight: 600;
    line-height: 76px;
    margin-bottom: 32px;
}
.frame-content .frame-btn a{
    background-color: var(--green-color);
    display: inline-block;
    padding: 15px 30px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
}
.frame-content .frame-btn a i {
    margin-left: 5px;
    border-radius: 5px;
}

/*FRAME SECTION END */

/*FOOTER SECTION START  */
.footer-section{
    background-color: var(--footer-bg);
    padding: 65px 0;
} 
.footer-text{
    color: var(--white-color);
    padding: 40px 0 30px 0;
}
.footer-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-icons .single-icon{
    height: 32px;
    width: 32px;
    background-color: var(--green-color); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.footer-icons .single-icon i{
    color: var(--white-color);
    font-size: 20px;
} 
.footer-title h4{
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-menus ul li{
    list-style: none;
}
.footer-menus ul li a{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    transition: 0.2s;
}
.footer-menus ul li a:hover{
    color: var(--green-color);
}
.input{
    display: inline-flex;
    gap: 10px;
    background-color: var(--footer-light-gray);
    padding: 10px 12px;
    border-radius: 5px;
    align-items: center;
}
.input i{
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
}
::placeholder{
    color: var(--white-color);
} 
input{
    background: transparent;
    border: none;
    padding: 0 ;
    outline: none;
    color: var(--white-color);
} 
/*FOOTER SECTION END */